@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.table-parent,
.chart,
.news-parent,
.checkboxes {
    width: 75vw;
    margin: 50px auto;
    overflow: hidden;
    color: #333;
    font-family: "Roboto", sans-serif !important;
}

footer {
    font-size: 20px;
    text-align: center;
    background-color: #333;
    color: #eee;
}

footer > p {
    padding: 0.75rem;
    margin: auto;
}
