* {
    text-decoration: none;
}

.header {
    font-size: clamp(5vh, 2em, 5vw) !important;
    text-align: center;
}

.checkboxes {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-around;
    align-items: center;
}

.checkbox {
    margin: 10px;
    padding: 5px;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chart {
    margin: auto;
    width: 75vw;
    overflow: hidden;
}

button {
    margin: 1vh auto !important;
}

input[type="checkbox"],
label {
    cursor: pointer;
    white-space: nowrap;
}



.loading {
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
